- var btnstyles = "position: absolute; top: 500px; left: 50%; transform: translateX(-50%); width: 255px; height: 50px; background-color: rgb(192, 39, 95); z-index: 101;"
- var linkstyles = "color: white; text-decoration: none; padding: 16px 61px; display: block;"

#button(style=btnstyles)
  a(href="#" style=linkstyles) CALL TO ACTION