// Animation created by Nerdmanship Custom -> www.nerdmanship.com
svg.logoSVG(data-dmss="svg", xmlns='http://www.w3.org/2000/svg', viewbox='0 0 600 600')
  g(data-dmss="particles")
  g(data-dmss="rects")
    path(data-dmss='rectS2', d='M312 312h288v288H312z')
    path(data-dmss='rectS', d='M0 312h288v288H0z')
    path(data-dmss='rectM', d='M312 0h288v288H312z')
    path(data-dmss='rectD', d='M0 0h288v288H0z')
  g(data-dmss="chars")
    path(data-dmss='charS2')
    path(data-dmss='charS')
    path(data-dmss='charM')
    path(data-dmss='charD')